* {
  matgin: 0;
  background-color: aqua;
}
p {
  color: bisque;
  height: 200px;
  width: 300px;
  background-color: black;
  border: 2px solid blue;
  border-radius: 5px;
  box-shadow: 2px 2px 50px red;
  text-align: center;
  margin: 300px;

  padding-top: 80px;
  box-sizing: border-box;
}
